@import "tailwindcss";


@theme {

  --color-roxo: #590bd8;
  --color-roxo-light: #DDD5EA;
  --color-roxo-dark: #312A4F;
  --color-branco: #ffffff;
  --color-cinza: #717171;
  --color-cinza-claro: #bbbfbf;
  --color-cinza-claro-plus: #f5f5f5;
  --color-vermelho: #fe3838;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

